.roles-container {
    padding: 20px;
    border-radius: 12px;
    background-color: white;
    color: #333;
    box-shadow: 0px 6px 12px rgba(255, 105, 180, 0.2);
    font-family: 'Arial', sans-serif;
    width: calc(100% - 45px);
    margin-left: 30px;
    height: 600px;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
}


.sidebar.closed~.main-container .roles-container {
    width: calc(100% - 100px);
    margin-left: 90px;
}

.roles-container h1 {
    color: #7e2952;
    font-family: 'Pacifico';
    font-size: 2.2rem;
}

.roles-table {
    width: 100%;
    border-collapse: collapse;
    color: #333;
    background-color: white;
    border-radius: 8px;
    overflow: hidden;
    margin-top: 12px;
    table-layout: auto;
    word-break: break-word;
}

.roles-table thead {
    background-color: #fce4ec;
}

.roles-table th {
    padding: 14px;
    text-align: center;
    font-size: 20px;
    color: #7e2952;
    font-family: 'Pacifico';
}

.roles-table td {
    padding: 12px;
    border-bottom: 1px solid #f8bbd0;
    font-size: 15px;
    text-align: center;
}

.roles-table tbody tr:nth-child(even) {
    background-color: #fff8fb;
}

.estado-btn {
    padding: 6px 16px;
    border: none;
    border-radius: 20px;
    color: white;
    cursor: pointer;
    font-weight: bold;
    transition: all 0.3s ease;
}

.estado-activo {
    background: linear-gradient(90deg, #9c2d5c 0%, #9c2d5c 100%);
}

.estado-activo:hover {
    background: linear-gradient(90deg, #8f1c4d 0%, #97195c 100%);
}


.estado-inactivo {
    background: linear-gradient(90deg, #7e7d7d 0%, #7c7b7c 100%);
}

.estado-inactivo:hover {
    background: linear-gradient(90deg, #5f5f5f 0%, #616161 100%);
}


/* Botones de acción */
.acciones-btn {
    margin-top: 4px;
    margin-left: 5px;
    font-size: 14px;
    border-radius: 20px;
    transition: background 0.3s ease;
    border: none;
    cursor: pointer;
}

.editar-btn {
    color: white;
    background-color: #ad5dd3;
}

.editar-btn:hover {
    background-color: #9306b6;
}

.ver-btn {
    color: white;
    background-color: #cc638d;
}

.ver-btn:hover {
    background-color: #b6175c;
}

.eliminar-btn {
    color: white;
    background-color: #c03d3d;
}

.eliminar-btn:hover {
    background-color: #a10202;
}

.crear-btn {
    padding: 10px 20px;
    border-radius: 10px;
    color: white;
    cursor: pointer;
    background: #b33672;
    font-size: 16px;
    transition: background 0.3s ease;
    margin-bottom: 15px;
    margin-top: 25px;
    box-shadow: 0 4px 10px rgba(233, 30, 99, 0.4);
    font-family: 'Arial', sans-serif;
}

.crear-btn:hover {
    background: #c43479;
}

.overlay-popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
}

.popup-content {
    background: white;
    width: 90%;
    max-width: 600px;
    height: 80%;
    overflow-y: auto;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.ventana-popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 30px 60px;
    border-radius: 20px;
    background: white;
    box-shadow: 0px 8px 16px rgba(233, 30, 99, 0.3);
    z-index: 1000;
}

.contenido-popup {
    text-align: center;
}

.contenido-popup2 {
    text-align: center;
    width: 650px;
}

.contenido-popup2 h2 {
    font-size: 2rem;
    color: #8f2d4e;
    margin-bottom: 10px;
    font-family: 'Pacifico';
}

.contenido-popup-2 {
    width: 700px;
    max-width: 90%;
    max-height: 70vh;
    overflow-y: auto;
    padding: 20px 80px 20px 20px;
    box-sizing: border-box;
}

.contenido-popup-2 h2 {
    font-size: 2rem;
    color: #8f2d4e;
    margin-bottom: 10px;
    font-family: 'Pacifico';
}

.contenido-popup3 {
    width: 950px;
}

.contenido-popup3 h2 {
    font-size: 2rem;
    color: #8f2d4e;
    margin-bottom: 10px;
    font-family: 'Pacifico';

}


.contenido-popup h2 {
    font-size: 2rem;
    color: #8f2d4e;
    margin-bottom: 10px;
    font-family: 'Pacifico';

}

.contenido-popup p {
    color: #20151a;
    font-size: 16px;
}

.busqueda-input {
    width: 35%;
    padding: 12px;
    border: 1px solid #f9c7d9;
    border-radius: 8px;
    outline: none;
    transition: 0.3s;
    float: inline-end;
    margin-bottom: 20px;
}

.busqueda-input:focus {
    border-color: #f472b6;
    box-shadow: 0 0 0 3px rgba(244, 114, 182, 0.3);
}

.paginacion-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 20px;
    margin-top: 30px;
}

.flecha {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    font-size: 20px;
    background-color: #ec4899;
    color: white;
    border-radius: 50%;
    cursor: pointer;
    transition: background 0.3s ease, transform 0.2s ease;
    box-shadow: 0 4px 12px rgba(236, 72, 153, 0.4);
}

.flecha:hover {
    background-color: #db2777;
    transform: scale(1.05);
}

.flecha-disabled {
    background-color: #f9a8d4;
    cursor: not-allowed;
    pointer-events: none;
    transform: none;
}

.texto-paginacion {
    font-weight: 400;
    color: #7e2952;
    font-size: 18px;
    margin: 0 10px;
}

.fila-formulario {
    margin-top: 8px;
    display: flex;
    gap: 20px;
}

.fila-formulario>* {
    flex: 1;
}

.input-texto,
.input-select {
    padding: 15px;
    border-radius: 12px;
    border: 2px solid #f8c1d9;
    background-color: #fff;
    font-size: 1rem;
    transition: 0.3s;
}

.input-texto:focus,
.input-select:focus {
    border-color: #d63384;
    box-shadow: 0 0 8px rgba(214, 51, 132, 0.2);
    outline: none;
}


.titulo-usuario {
    color: #7e2952;
    text-align: center;
    font-family: 'Pacifico';
    margin-bottom: 20px;
}

.info-usuario p {
    margin: 10px 0;
    font-size: 16px;
    color: #303030;
}

.button-container {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
}

.btn-cancelar,
.btn-crear {
    padding: 15px 30px;
    font-size: 1rem;
    border-radius: 12px;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
}

.btn-cancelar {
    background-color: #f3d7e3;
    color: #8b2752;
}

.btn-cancelar:hover {
    background-color: #e6b8c9;
}

.btn-crear {
    background-color: #8b2752;
    color: #fff;
}

.btn-crear:hover {
    background-color: #a31d60;
}

/* Lo de fecha en manicuristas*/

.input-fecha-placeholder {
    width: 316px;
    height: 53px;
    border: 2px solid #f8c1d9;
    background-color: #fff;
    border-radius: 12px;
    padding-left: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: #999;
    cursor: pointer;
    font-size: 1rem;
}

.input-fecha-activo {
    width: 316px;
    height: 53px;
    border: 2px solid #f8c1d9 !important;
    background-color: #fff;
    border-radius: 12px;
    padding-left: 10px;
    padding-right: 40px;
    color: black;
    outline: none;
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}


.input-fecha-activo::-webkit-calendar-picker-indicator {
    opacity: 1;
    cursor: pointer;
    filter: invert(60%) sepia(100%) saturate(400%) hue-rotate(290deg);
    position: relative;
    right: -230px;
}

/* Imagen de servicios */
.custom-file-upload {
    display: block;
    width: 400px;
    max-width: 500px;
    padding: 8px 12px;
    background-color: #ecc3d5;
    color: rgb(36, 36, 36);
    border-radius: 10px;
    cursor: pointer;
    font-size: 14px;
    font-family: Arial, sans-serif;
    text-align: center;
    transition: background 0.3s ease;
    margin: 10px auto;
    margin-top: -5px;
}


.custom-file-upload:hover {
    background-color: #dda7bf;
}

.custom-file-upload input {
    display: none;
}

.vista-previa {

    text-align: center;
}

.imagen-container {
    display: inline-block;
    padding: 1px;
    background: #ffe6f0;
    border-radius: 15px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.imagen-preview {
    width: 270px;
    max-height: 250px;
    border-radius: 10px;
    transition: transform 0.3s ease;
}

.imagen-preview:hover {
    transform: scale(1.05);
}

.fila-imagen {
    margin-top: 10px;
    display: flex;
}

.buscador-container {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
    margin-bottom: 20px;
}

.buscador-input {
    width: 35%;
    padding: 12px;
    border: 1px solid #f9c7d9;
    border-radius: 8px;
    outline: none;
    transition: 0.3s;
    float: inline-end;
    margin-bottom: 20px;
}

.buscador-input:focus {
    border-color: #d63384;
    box-shadow: 0 0 8px rgba(214, 51, 132, 0.2);
}


@media (max-width: 1200px) {

    .roles-container,
    .contenido-popup-2,
    .contenido-popup2,
    .contenido-popup3 {
        width: 100%;
        margin-left: 0;
        padding: 15px;
    }
}

@media (max-width: 992px) {
    .fila-formulario {
        flex-direction: column;
    }

    .busqueda-input,
    .input-fecha-placeholder,
    .input-fecha-activo,
    .custom-file-upload,
    .crear-btn,
    .btn-cancelar,
    .btn-crear {
        width: 100%;
    }

    .button-container {
        flex-direction: column;
        gap: 10px;
    }

    .paginacion-container {
        flex-wrap: wrap;
        justify-content: center;
        gap: 10px;
    }
}

@media (max-width: 768px) {

    .roles-table th,
    .roles-table td {
        padding: 8px;
        font-size: 14px;
    }

    .roles-container h1,
    .contenido-popup2 h2,
    .contenido-popup-2 h2,
    .contenido-popup3 h2,
    .contenido-popup h2 {
        font-size: 1.5rem;
    }

    .flecha {
        width: 25px;
        height: 25px;
        font-size: 16px;
    }
}

@media (max-width: 576px) {
    .roles-container {
        padding: 10px;
    }

    .texto-paginacion {
        font-size: 14px;
    }

    .imagen-preview {
        max-width: 100%;
    }
}

.input-error {
    border-color: #dc2626;
}

.error-texto {
    font-size: 0.875rem;
    color: #dc2626;
    text-align: left;
    margin-top: 0.25rem;
}

label {
    font-weight: bold;
    margin-bottom: 5px;
}

.subtitulo-editar-todos {
    text-align: left;
    color: #3b3b3b;
    font-family: Arial, Helvetica, sans-serif;
}

.error-mensaje {
    color: red;
    font-size: 0.875rem;
    margin-top: 0.25rem;
    text-align: left;
    height: 16px;
}

.error-mensaje-rol {
    color: red;
    font-size: 0.875rem;
    margin-top: 0.25rem;
    text-align: left;
    height: 16px;
}


.input-error {
    border: 1px solid red;
}



.fila-imagen {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;
}

.mensaje-error {
    color: red;
    font-size: 0.9rem;
    margin-top: 4px;
    text-align: left;
}

.error-texto-imagen {
    color: red;
    font-size: 0.875rem;
    text-align: center;
    margin-top: 0.3rem;
    margin-bottom: 0.5rem;
}

.imagen-previa {
    width: 270px;
    max-height: 250px;
    border-radius: 10px;
    transition: transform 0.3s ease;
}

.imagen-previa:hover {
    transform: scale(1.05);
}

.titulo-centrado {
    text-align: center;
    width: 100%;
    margin-top: 1rem;
}


.mensaje-error-insumos {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 8px;
    color: red;
    font-size: 14px;
}

.swal-rosado {
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 16px;
    background-color: #fff3f8;
}

.swal2-title {
    color: #313131e0 !important;
}

.swal2-confirm {
    background-color: #7e2952 !important;
}

.swal2-cancel {
    background-color: #d8d6d7 !important;
    color: #7e2952 !important;
}

/* Para ocuro */
.dark-mode .roles-container {
    background-color: #353535;
}

.dark-mode .roles-container h1 {
    color: #ffc0cb;
    font-family: 'Pacifico';
    font-size: 2.2rem;
}

.dark-mode .roles-container {
    background-color: #353535;
}

.roles-table {
    width: 100%;
    border-collapse: collapse;
    color: #333;
    background-color: white;
    border-radius: 8px;
    overflow: hidden;
    margin-top: 12px;
    table-layout: auto;
    word-break: break-word;
}

.dark-mode .roles-table {
    background-color: #2c2c2c;
    color: #f1f1f1;
}

.dark-mode .roles-table thead {
    background-color: #4a4a4a;
}

.dark-mode .roles-table th {
    color: #ffc0cb;
}

.dark-mode .roles-table td {
    border-bottom: 1px solid #555;
}

.roles-table tbody tr:nth-child(even) {
    background-color: #fff8fb;
}

.dark-mode .roles-table tbody tr:nth-child(even) {
    background-color: #3e3e3e;
}

.dark-mode .crear-btn {
    color: #99255f;
    background-color: #f3cbd1;

}

.dark-mode .crear-btn:hover {
    background: #dfaeb6;
}

.dark-mode .texto-paginacion {
    color: #f3f3f3;
}

.dark-mode .busqueda-input {
    background-color: #d4d1d1;
    color: black;
}

.dark-mode .editar-btn {
    color: white;
    background-color: #bb7ce0;
}

.dark-mode .editar-btn:hover {
    background-color: #a653cc;
}

.dark-mode .ver-btn {
    color: white;
    background-color: #e487a8;
}

.dark-mode .ver-btn:hover {
    background-color: #d2648f;
}

.dark-mode .eliminar-btn {
    color: white;
    background-color: #e06363;
}

.dark-mode .eliminar-btn:hover {
    background-color: #c94141;
}

.dark-mode .swal-rosado {
    background-color: #3a393a;
}

.dark-mode .swal2-title {
    color: #fffffff6 !important;
}

.dark-mode .swal-rosado .swal2-text {
    color: #f0f0f0;
    font-size: 16px;
    text-align: center;
}

.dark-mode .swal2-confirm {
    background-color: #fad1e5 !important;
    color: #7e2952;
}

.dark-mode .swal2-cancel {
    background-color: #e4dde0 !important;
    color: #7e2952 !important;
}

.dark-mode .contenido-popup2,
.dark-mode .modal-contenido-compra,
.dark-mode .ventana-popup,
.dark-mode .valores-totales,
.dark-mode .modal-contenido-cita,
.dark-mode .modal-contenido {
    background-color: #3a393a;
}

.dark-mode .servicio-item-modal{
    background-color: white;
    color: black;
}

.dark-mode .contenido-popup2 h2 {
    color: #ffc0cb;
}

.dark-mode .subtitulo-editar-todos {
    text-align: left;
    color: #f1ecec;
    font-family: Arial, Helvetica, sans-serif;
}

.dark-mode .btn-crear {
    background-color: #ffc0cb;
    color: #7e2952;
}

.dark-mode .btn-cancelar {
    background-color: rgb(224, 213, 213);
}

.dark-mode .input-texto,
.dark-mode .input-select {
    padding: 15px;
    border-radius: 12px;
    background-color: #f0e8e8;
    font-size: 1rem;
    transition: 0.3s;
}

.dark-mode .border {
    background: #f0e8e8;
}

.dark-mode .input-nombre,
.dark-mode .insumo-card{
    background-color: #f0e8e8;
}

.dark-mode .info-usuario p {
    margin: 10px 0;
    font-size: 16px;
    color: #eee3e3;
}

.dark-mode .titulo-proveedor {
    color: #ffc0cb;
    padding-top: 6px;
}

.dark-mode .titulo-seccion,
.dark-mode .solo-oscuro,
.dark-mode .titulo-usuario,
.dark-mode .facturados,
.dark-mode .valores-totales span {
    color: #ffc0cb;
}

.dark-mode .mensaje-vacio,
.dark-mode .informacion-cliente {
    color: white;
}

.dark-mode .input-fecha-placeholder-compra,
.dark-mode .input-fecha-activo-compra,
.dark-mode .input-fecha-placeholder,
.dark-mode .input-fecha-activo,
.dark-mode .input-fecha-placeholder-abastecimiento,
.dark-mode .input-fecha-activo-abastecimiento,
.dark-mode .input-fecha-activo-fecha-cita,
.dark-mode .input-fecha-placeholder-horario,
.dark-mode .input-fecha-activo-horario,
.dark-mode .input-fecha-placeholder-cita,
.dark-mode .input-fecha-activo-cita, 
.dark-mode .input-fecha-placeholder-fecha-cita,
.dark-mode .input-fecha-activo-fecha-cita,
.dark-mode .input-fecha-placeholder-venta,
.dark-mode .input-fecha-activo-venta,
.dark-mode .input-fecha-activo-liq  {
    border: 2px solid #f8c1d9 !important;
    background-color: #f0e8e8;
}

.dark-mode .insumos-agregados-modal,
.dark-mode .servicios-agregados-modal{
    background-color: #3a393a;
    color: white;
}

.dark-mode .insumo-item-modal{
    color: black;
}

.dark-mode .linea {
    background-color: #fffcfc;
}

.dark-mode .fechas {
    color: rgb(255, 255, 255);
}

.dark-mode .informacion-proveedor,
.dark-mode .footer-popup,
.dark-mode .valores-totales strong,
.dark-mode .col-insumo,
.dark-mode .dinero,
.dark-mode .cita-periodo,
.dark-mode .rangos {
    color: rgb(255, 253, 253);
}

.dark-mode .texto-blanco {
    color: white;
}

.dark-mode .swal-rosado .swal2-html-container,
.dark-mode .swal-rosado .swal2-content {
    color: white;
}

.dark-mode .btn-cancelar {
    background-color: #d6d2d4;
    color: #8b2752;
}

.dark-mode .btn-cancelar:hover {
    background-color: #b8b4b6;
}
