.dashboard-container {
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0px 6px 12px rgba(255, 105, 180, 0.2);
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
  color: #333;
  width: calc(100% - 38px);
  margin-left: 30px;
  transition: width 0.3s ease-in-out, margin-left 0.3s ease-in-out;
  overflow-x: hidden;
  background-color: #fff;
  box-sizing: border-box;
}

.dashboard-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
}

@media (max-width: 900px) {
  .dashboard-grid {
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  }
}

@media (max-width: 500px) {
  .dashboard-grid {
    grid-template-columns: 1fr;
  }
}

.card {
  background-color: #ffffff;
  border-radius: 12px;
  box-shadow: 0px 6px 12px rgba(255, 105, 180, 0.2);
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  transition: all 0.3s ease;
  word-break: break-word;
}

@media (max-width: 500px) {
  .dashboard-container {
    padding: 1rem;
    margin-left: 10px;
    width: calc(100% - 20px);
  }
}

.sidebar.closed~.main-container .dashboard-container {
  width: calc(100% - 20px);
  margin-left: 45px;
}

.dashboard-header {
  margin-bottom: 2rem;
  text-align: center;
}

.dashboard-header h1 {
  font-size: 2.2rem;
  color: #7e2952;
}

.subtitle {
  font-size: 1rem;
  color: #888;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.08);
}

.highlight-card {
  grid-column: span 2;
}

.highlight-card h3 {
  color: #222121;
  font-size: 1.2rem;
}

.highlight-card .amount {
  font-size: 2.3rem;
  color: #7e2952;
  font-weight: bold;
  margin: 0.5rem 0;
}

.chart-card2 {
  grid-column: span 2;
}

.date-range {
  color: #7e2952;
  font-size: 0.9rem;
}

.chart-card .card-title,
.chart-card2 .card-title,
.detail-card .card-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.card-title h3 {
  font-size: 1.1rem;
  color: #333;
}

.icon {
  color: #7e2952;
  font-size: 1.4rem;
}

.detail-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.detail-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.75rem 0.5rem;
  border-bottom: 1px solid #eee;
  transition: background-color 0.3s ease;
}

.detail-item:last-child {
  border-bottom: none;
}

.detail-item:hover {
  background-color: #fce4ec;
}

.detail-info {
  display: flex;
  align-items: center;
  gap: 0.75rem;
}

.service-img {
  width: 40px;
  height: 40px;
  border-radius: 8px;
  object-fit: cover;
  border: 1px solid #ddd;
  padding: 0px;
}

.service-name {
  font-size: 0.95rem;
  font-weight: 500;
  color: #333;
}

.service-ventas {
  font-size: 0.9rem;
  font-weight: 450;
  color: #272526;
}

.combined-card {
  grid-column: span 2;
}

.combined-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  flex-wrap: wrap;
}

.left-section {
  flex: 1 1 250px;
}

.right-section {
  flex: 1 1 250px;
}

@media (max-width: 768px) {
  .combined-content {
    flex-direction: column;
    align-items: flex-start;
  }

  .right-section {
    width: 100%;
  }
}

.detail-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 1rem;
}

.detail-table th {
  text-align: left;
  padding: 0.5rem;
  color: #7e2952;
  border-bottom: 2px solid #eee;
  font-size: 0.9rem;
}

.detail-table td {
  padding: 0.6rem;
  border-bottom: 1px solid #eee;
  color: #333;
  font-size: 0.9rem;
}

.detail-table tr:hover {
  background-color: #fce4ec;
  transition: background-color 0.3s ease;
}

.timeline {
  position: relative;
  margin-left: 20px;
}

.timeline-item {
  display: flex;
  align-items: start;
  margin-bottom: 20px;
  position: relative;
}

.timeline-icon {
  background-color: #bc478f;
  color: white;
  padding: 8px;
  margin-top: 7px;
  border-radius: 50%;
  margin-right: 15px;
}

.timeline-content {
  background: #f9f9f9;
  padding: 10px 15px;
  border-radius: 10px;
  width: 100%;
}

.timeline-content .date {
  font-size: 12px;
  color: #999;
}
/* Cuando este en oscuro */

.dark-mode .dashboard-container {
  background-color: #3a393a;
}

.dark-mode .card,
.dark-mode .timeline-content {
  background-color: #e0dce0e1;
}
